@import url("https://fonts.googleapis.com/css2?family=Andika&family=Arvo&family=Lato:wght@100;300&family=Lora:ital,wght@0,400;1,500&family=Montserrat:wght@200;500&family=Open+Sans:wght@300&family=Playfair+Display&family=Poppins:wght@200&family=Raleway:wght@200&display=swap");
@font-face {
  font-family: titulo;
  src: url(../Abril_Fatface.otf);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-button {
  width: 21px;
  height: 21px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 91px none #ef0b0b;
  border-radius: 38px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ed9292;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 21px none #ffffff;
  border-radius: 63px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #fbacac;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body .navbar {
  width: 100%;
  background: none;
  position: fixed;
}

body .navbar .navbar-brand {
  font-family: titulo;
  color: #8C9CA2ff;
  font-size: 30px;
  margin-left: 1em;
}

body .navbar .nav-link {
  font-family: sans-serif;
}

body .navbar .nav-link:hover {
  border-bottom: solid 1px gray;
}

body #home {
  height: 650px;
  background-color: #fdfcdcff;
  background-image: url(../img/image-from-rawpixel-id-6241885-original.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: titulo;
  color: #6d7f83;
  font-size: 45px;
  text-align: center;
}

body #aboutMe {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fdfcdcff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

body #aboutMe .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

body #aboutMe .about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
  margin-top: 2em;
  padding: 2em;
}

body #aboutMe .about .info h2 {
  font-family: titulo;
  color: #8C9CA2ff;
}

body #aboutMe .about .info .nombre {
  font-size: 40px;
  font-family: titulo;
  margin-left: 3em;
  background: -webkit-gradient(linear, left top, right bottom, from(#FCD4D4ff), to(#6d7f83));
  background: linear-gradient(to bottom right, #FCD4D4ff, #6d7f83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body #aboutMe .about .info p {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: #737070;
}

body #aboutMe .about .info .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
  gap: 2em;
}

body #aboutMe .about .info .tech p {
  width: 7em;
  text-align: center;
  padding: 1em;
  background-color: #8C9CA2ff;
  font-family: 'Montserrat', sans-serif;
  color: #ededed;
  border-radius: 20px;
}

body #aboutMe .about .info .tech p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

body #aboutMe .about .imagen {
  height: 400px;
  width: 90%;
  background-image: url(../img/diego-ph-fIq0tET6llw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 15em;
}

body #myProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #FCD4D4ff;
  padding: 1em;
}

body #myProjects h2 {
  font-family: titulo;
  font-size: 40px;
  color: #fff;
  margin-top: 1em;
}

body #myProjects .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2em;
  gap: 2em;
  padding: 2em;
}

body #myProjects .projects .pampa, body #myProjects .projects .onFleek {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body #myProjects .projects .pampa .projectImg, body #myProjects .projects .onFleek .projectImg {
  background-image: url(../img/elpampa.png);
  width: 20em;
  height: 20em;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

body #myProjects .projects .pampa .projectTit, body #myProjects .projects .onFleek .projectTit {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 1em;
}

body #myProjects .projects .pampa .projectInfo, body #myProjects .projects .onFleek .projectInfo {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
}

body #myProjects .projects .pampa button, body #myProjects .projects .onFleek button {
  width: 9em;
  text-align: center;
  padding: 0.5em;
  border-style: none;
  background-color: #8C9CA2ff;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
}

body #myProjects .projects .pampa button:hover, body #myProjects .projects .onFleek button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

body #myProjects .projects .onFleek .projectImg {
  background-image: url(../img/onFleek.png);
}

body footer {
  height: 10em;
  background-color: #CD9A6Fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}

body footer .redes .icon {
  width: 2em;
  height: 2em;
}

#contact {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#contact .navbar-contacto {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .mainContact {
  height: 650px;
}

@media screen and (min-width: 600px) {
  body #home {
    height: 650px;
    font-size: 60px;
  }
  body #aboutMe {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1em;
  }
  body #aboutMe .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body #aboutMe .about .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body #aboutMe .about .info .nombre {
    margin-left: 2em;
  }
  body #aboutMe .about .info .tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
  }
  body #aboutMe .about .info .tech p {
    width: 10em;
    text-align: center;
    padding: 1em;
  }
  body #aboutMe .about .imagen {
    width: 45%;
    height: 600px;
    margin-top: 0%;
    margin-bottom: 1em;
  }
  body #myProjects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 650px;
  }
  body #myProjects .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 2em;
    gap: 2em;
  }
  body #myProjects .projects .pampa, body #myProjects .projects .onFleek {
    width: 25em;
    height: 25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #myProjects .projects .pampa .projectImg, body #myProjects .projects .onFleek .projectImg {
    width: 20em;
    height: 20em;
  }
}
/*# sourceMappingURL=style.css.map */